.chat-card {
  background-color: #111;
  width: 100%;
  max-height: 40px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.chat-card_active{
  color: white;
  background-color: #111;

}
.chat-card h5 {
  padding: 0 0 0 20px;
  font-size: 1.1rem;
}

